<h1>Instructions</h1>

<h2>Instructions Are!</h2>

<ul>
  <li>Penalty charges are included after 10 business days </li>
  <li>Check-out and receiving days are included in the time period of 10 days.</li>
  <li>For Pakistan Wekeend holidays are Saturday and Sunday.</li>
  <li>For UAE Wekeend holidays are Saturday and Friday.</li>
  <li>Special Days are not Included in Buisness Days</li>
  <li>There is an 8 percent tax charge per day in the UAE.</li>
  <li>There is no extra tax on the penalty in Pakistan.</li>
  <li>The penalty charges are PKR 50 per day in Pakistan. Whereas in the UAE, the charges are 0.2 AED per day.</li>
</ul>

